@use "styles/var";

.layout {
  height: 100vh;

  .wrapper {
    display: flex;
    justify-content: center;
    
    .container {
      width: var.$s-app-width;
      display: flex;
      
      main {
        width: 100%;
        padding: 29px 0  0 24px;
        background-color: var.$c-grey;
      }
    }
  }
}
