@use "styles/var";

.navLink {
  height: 36px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .group {
    display: flex;
    align-items: center;
    gap: 15px;

    a {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .border {
    width: 2px;
    height: 36px;

    background: none;
    border-radius: 2px 0px 0px 2px;
  }
}

.active {
  .group {
    img {
      filter: invert(33%) sepia(87%) saturate(3160%) hue-rotate(324deg)
        brightness(99%) contrast(97%);
    }

    a {
      color: var.$c-accent;
    }
  }

  .border {
    background-color: var.$c-accent;
  }
}
